//font 
$quicksand : 'Quicksand', sans-serif;

//background color
$bg : #0a192f;
$modal-bg : #112240;

//color
$white : #ffffff;
$secondary : #64ffda;
$pink: #ffafcc;
$red : #ff6363;
$green: #a7d129;
$error: #f44336;
$success: #4caf50;

//size
$xs : 1rem;
$s: 2rem;
$m : 3rem